.split_bottom,.split_top {
  width: 100%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
.split_top {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
.split_container{
    display: flex;
    border: black 2px solid;
    flex-wrap: wrap;
    justify-content: space-around;
}