.split_bottom,.split_top {
  width: 100%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
.split_top {
  width: 50%;
  float: left;
  padding: 20px;
  box-sizing: border-box;
}
.split_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.split_top > div  {
  display: flex;
  flex-direction: row;
}

.split_bottom > div  {
  display: flex;
  flex-direction: row-reverse;
}


